{% extends BASE %}

{% block title %} 2&ordm; Mandamento {% endblock %}

{% block subtitle %} __"Não tratarás funções como cidadãos de segunda classe."__ {% endblock %}

{% block handout %}
Em linguagens funcionais, funções são como um valor qualquer. Isso significa que uma função pode operar e retornar tanto valores simples quanto sobre outras funções.
{% endblock %}

{% block notes %}
* __"Não tratarás funções como cidadãos de segunda classe"__
* Funções operam sobre valores e outras funções
* Funções retornam valores ou funções
{% endblock %}
