{% extends BASE %}

{% block title %} 1&ordm; Mandamento {% endblock %}

{% block subtitle %} __"Não mutarás."__ {% endblock %}

{% block handout %}
Assim como a mutabilidade é quase que uma constante em linguagens imperativas, a imutabilidade é quase que uma constante em linguagens funcionais.

Veremos o quanto esse detalhe faz diferença quando entrarmos no assunto "concorrência".
{% endblock %}

{% block notes %}
* __"Não mutarás"__
* Mutabilidade = Linguagens Imperativas
* Imutabilidade = Linguagens Funcionais
* Muito importante quando falarmos sobre concorrência
{% endblock %}
