{% extends BASE %}

{% block title %} 3&ordm; Mandamento {% endblock %}

{% block subtitle %} __"Verás na preguiça uma virtude."__ {% endblock %}

{% block handout %}
__Lazy evaluation__ é uma técnica muito usada em linguagens de programação funcional, e consiste em adiar uma computação até que seu resultado seja requisitado.

Além de evitar que tempo de CPU seja gasto com computações que poderão não ser utilizadas, esta técnica também permite, por exemplo, a criação de sequências infinitas.
{% endblock %}

{% block notes %}
* __"Verás na preguiça uma virtude"__
* __Lazy evaluation__
** Computar somente o necessário, quando necessário
** Sem perda de tempo com computações desnecessárias
** Sequências infinitas
{% endblock %}
