{% extends BASE %}

{% block title %} Os 3 Mandamentos da Programação Funcional {% endblock %}

{% block subtitle %} Todos de pé, por favor. {% endblock %}

{% block handout %}
Linguagens imperativas, grupo que compreende as linguagens procedurais e orientadas a objetos, são bem diferentes das linguagens funcionais. Por isso, o estranhamento inicial é normal por parte de quem não está acostumado.

A seguir, veremos algumas das características mais marcantes das linguagens funcionais, e de Clojure em especial.
{% endblock %}

{% block notes %}
* Linguagens funcionais e imperativas
** Exige diferentes habilidades para solucionar de problemas
** Estranhamento inicial é normal
* As 3 principais características de linguagens funcionais
{% endblock %}
