{% extends BASE %}

{% block title %} Sai de ré {% endblock %}

{% block content %}
p=. <img src="media/img/bottom-fuuu.jpg" class="scale" alt="FFUUUU-" width="420" height="420"/>
{% endblock %}

{% block handout %}
Sem condições. Precisamos arranjar um jeito de alterar vários recursos dentro de uma *unidade lógica de trabalho*, e garantir que, em caso de falhas, __nenhuma__ das alterações seja confirmada, ou, em caso de sucesso, que __todas__ as alterações se tornem públicas de uma só vez.

Ilustração: Fuuu Gogh ("Fat Mouse":http://www.teefury.com/archive/886/FUUU/)
{% endblock %}

{% block notes %}
* Tem que haver uma solução mais simples
* Unidade lógica de trabalho com garantias transacionais
* Tudo deve falhar (ou suceder) ao mesmo tempo
{% endblock %}
