{% extends BASE %}

{% block title %} Atoms {% endblock %}

{% block subtitle %} Para atualizações síncronas e não-coordenadas. {% endblock %}

{% block handout %}
O primeiro tipo de Reference são os __Atoms__, cuja função é permitir alterações síncronas e independentes (não coordenadas), e são perfeitas para a criação do nosso gerador de números.
{% endblock %}

{% block notes %}
* __Atom__: o tipo mais simples de Reference
* Alterações síncronas e independentes, sem locks
* Perfeita para o nosso primeiro problema
{% endblock %}
