{% extends BASE %}

{% block title %} Recomendação - Clojure: Functional Programming for the JVM {% endblock %}

{% block content %}
p=. <img src="media/img/oci.jpg" class="scale" alt="Clojure - Funcional Programming for the JVM" width="700" height="425"/>

p=. "http://java.ociweb.com/mark/clojure/article.html":http://java.ociweb.com/mark/clojure/article.html
{% endblock %}

{% block handout %}
Excelente artigo disponível na web, dá uma introdução aos vários recursos da linguagem.
{% endblock %}

{% block notes %}
* Artigo grátis, boa introdução
{% endblock %}
