{% extends BASE %}

{% block title %} Recomendação - Programming Clojure {% endblock %}

{% block content %}
p=. <img src="media/img/shcloj.jpg" class="scale" alt="Programming Clojure" width="374" height="448"/>

p=. "http://www.pragprog.com/titles/shcloj/programming-clojure":http://www.pragprog.com/titles/shcloj/programming-clojure
{% endblock %}

{% block handout %}
Excelente livro para quem nunca viu Clojure e tem pouca experiência com programação funcional.
{% endblock %}

{% block notes %}
* Bom para quem é novo tanto em Clojure quanto em programação funcional
{% endblock %}
