{% extends BASE %}

{% block title %}
  O que eu espero conseguir com esta palestra
{% endblock %}

{% block content %}
p=. <img src="media/img/mumusis.jpg" class="scale" width="264" height="420" alt="Mumu da mangueira"/>
{% endblock %}

{% block handout %}
A idéia aqui não é dissecar a linguagem Clojure, até por que o tempo não permite. A idéia é mostrar alguns de seus recursos mais importantes. Assim, quem se interessar, pode pesquisar mais sobre ela.

Ilustração: Mumu da Mangueira programa em Clojure (Daniel Martins)
{% endblock %}

{% block notes %}
* Mostrar algumas áreas onde a linguagem se destaca
** Somente um aperitivo para despertar o interesse
* Dúvidas no final
{% endblock %}
