{% extends BASE %}

{% block title %} Lisp + Java {% endblock %}

{% block subtitle %} O melhor dos dois mundos. {% endblock %}

{% block handout %}
Clojure é uma linguagem de programação dinâmica que roda na JVM, e foi projetada para ser uma linguagem de propósito geral, combinando a facilidade e o estilo interativo de desenvolvimento de linguagens de script com uma infraestrutura eficiente e robusta para programação concorrente. Clojure não é interpretada; ela compila diretamente para bytecode, ainda que seja completamente dinâmica.

Ainda, como um dialeto de Lisp, Clojure compartilha de características poderosíssimas para quem precisa de um ambiente favorável à meta-programação.
{% endblock %}

{% block notes %}
* Linguagem dinâmica para a JVM, de propósito geral
* Combina facilidade e estilo interativo com infraestrutura robusta para concorrência
* Não é interpretada, compila direto para bytecodes
* Dinâmica
* Clojure é um dialeto Lisp
{% endblock %}
