{% extends BASE %}

{% block title %} @java.util.concurrent.*@ {% endblock %}

{% block subtitle %} Mais difícil do que parece. {% endblock %}

{% block handout %}
Quando precisamos realizar ações assíncronas, a API @java.util.concurrent.*@ oferece um conjunto de classes e interfaces que nos dá mais controle para resolver problemas como esse, mas ela não é para qualquer um, já que seu uso involve uma série de classes e interfaces.
{% endblock %}

{% block notes %}
* A nova API ajuda, mas ainda não é para qualquer um
* API extensa: Executor, ExecutorService, Future, Runnable, etc
{% endblock %}
