{% extends BASE %}

{% block title %} Problemas acontecem {% endblock %}

{% block subtitle %} Toda hora é hora. {% endblock %}

{% block handout %}
Usar Agents em Clojure parece ser muito simples, mas e em caso de erros? O que acontece se uma ou mais ações enviadas a Agents falhem por quaisquer motivos?

Quando trabalhamos com tarefas assíncronas, precisamos sempre que possível tratar possíveis erros.
{% endblock %}

{% block notes %}
* Código simples, mas não mostra como lidar com possíveis erros
** Tratamento de erros é essencial em tarefas assíncronas

{% endblock %}
